<div class="contact">
	<div class="row">
	<div class="col-sm-4">
	 <img src="images/showxl_13.png" height="40" width="80" />
	 </div>
	 <div class="col-sm-8">
	 <h3> My Location is :</h3> 
	 </div>
	</div>
	
	

    <div>
	 <map ng-transclude class='google-map' center='map.center' zoom='map.zoom'> 
    <marker position="marker.position"  events="marker.events"></marker>
  </map>
  </div>
  <br>
  <div class="row">
  <div class="form-group">
    <center> <input type="checkbox">I'd like to be incognito </center>
    </div>
  <br>
    <div class="form-group">
    <center> <a href="/contact" class="btn but">ENTER THE CHAT </a> </center>
    </div>
	</div> 

	 
	<!-- <p>{{ tagline }}</p> -->
</div>