  <div class="geek">
      <div class="row">
          <div class="col-sm-6">
              <div class="logo">
                  <center> <img src="images/showxl_13.png" height="50" width="100"></center>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Nickname">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Type your introduction text"></textarea>
              </div>
              <div class="input-group">
            	   <span class="input-group-addon" id="basic-addon3">Select age</span>
            	   <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          	 </div>
          	 <br>
              <div class="input-group">
              <span class="input-group-btn">
                  <button class="btn btn-phto" type="button" ng-click="showMe();">Add photo</button>
              </span>
            	  <!-- <span class="input-group-addon" id="basic-addon3"> Add photo</span>  -->
            	   <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
              </div>
              <br>
              <br>
              <div class="form-group">
                  <center> <a href="/contact" class="btn but">ENTER THE CHAT </a> </center>
              </div>
          </div>
          <div class="col-sm-6" ng-show="show">
            <div class="pF">
                <div class="pF_hd">
                    <p> Your Photo </p>
                </div>
                <div class="pF_body">
                  <div class="row">
                        <div class="pf_bodyicons">
                          <div class="row">
                            <div class="col-sm-6">
                              <button type="button" class="btn btn-default btnlg12"><span class="glyphicon glyphicon-camera"></span></button>
                            </div>
                            <div class="col-sm-6">
                              <button type="button" class="btn btn-default btnlg1"><span class="glyphicon glyphicon-open"></span></button>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="row">
                    <div class="pF_bodyimage">
                    </div>
                  </div>
                  <div class="row">
                    <div class="pf_bodybtns">
                        <div class="col-sm-9">
                          <select class="btn btn-default btn-block">
                            <center><option value="volvo">camera</option></center>
                          </select>
                          <button type="button" class="btn btn-default btn-block">send</button>
                        </div>

                        <div class="col-sm-3">
                        <button type="button" class="btn btn-default btn-lg lg1"><span class="glyphicon glyphicon-camera"></span></button>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
      </div> 

	<!-- <p>{{ tagline }}</p> -->
  </div>